body {
   background-color: #FFFFFF;
   font-family: verdana, Times-Roman, serif;
   font-size: 10pt;
}


a:link, a:visited, a:hover, a:active {
   border-bottom: dotted 1px #8A8A41;
   color: #2f4f4f;
   text-decoration: none;
}

h1 {
   font-size: 12pt;
   font-weight: bold;
   background-color: #f8f8ff;
   padding: 3.2em 0 0 0;
}

h2 {
   font-size: 10pt;
   background-color: #f8f8ff;
   padding: .2em;
}

h3 {
   font-size: 9pt;
}

.terminal {
   font: 10pt monospace;
   background-color: #EEEEEE;
   border-style: dashed;
   border-width: thin;
   padding: .2em .2em .2em 1em;
   margin: 0 5% 0 2%;
}

font.todo {
   color: red;
}

tr {
   font-size: 9pt;
}

.footer {
   font: 10pt monospace;
   text-align: right;
}

/* Formatting for messages */
div.message {
   background-color: #F6F6FF;
   //border: 1px solid #CCCCCC;
   padding-left: 1em;
   padding-bottom: 0.3em;
}

ul.message li {
   list-style-type: none;
}

li.id {
   font-size: 12pt;
}

div.message li {
   list-style-type: none;
   display: block;
}
ul.message {
   padding: 0 0 0 0;
   border: 1px solid #CCCCCC;
   width: 50%;
}

ul.message li.id:before     { 
   background-color: #FBFBFB;
   content: "subtype:"; 
   font-weight: normal;
   font-size: 9pt;
}
ul.message li.input:before  { 
   content: "input: "; 
   font-weight: normal;
}
ul.message li.output:before { 
   content: "output: ";
   font-weight: normal; 
}

ul.message li.id {
   padding-top: 1.5em;
}

ul.message li.name {
   font-weight: bold;
   background-color: #EEEEEE;
}

ul.message li.desc {
   padding-left: 0.5em;
   padding-top: 1em;
   //font-weight: bold;
   padding-bottom: 0.75em;
}
